.sort-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
}

.sort-filter fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem;
}