.nav__ul {
    display: flex;
    list-style: none;
}

.nav__ul * {
    text-decoration: none;
    color: #f1f1f1;
}

.nav-link {
    padding: 0.5rem;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.active-link {
    border-bottom: solid #FCBF49 0.5rem;
    border-radius: 0.5rem;
}

.active-link > i,
.active-link > span {
    color: #FCBF49;
}

@media screen and (max-width: 850px) {
    .nav__ul {
        gap: 0.5rem;
        justify-content: center;
    }
    .nav-link span {
        display: none;
    }
    .nav-link {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .nav {
        width: 100%;
    }
}