.book {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}

.book-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgba(0, 48, 73, 0.7);
}

.book-container {
    display: flex;
    gap: 0.5rem;
}

.book-cover {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    min-height: 100px;
}

.book-cover img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


.book-cover i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    color: white;
    background-color: #f1f1f1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.book-info {
    align-self: stretch;
    flex-grow: 1;
}

.book-info a {
    color: #003049;
    text-decoration: none;
}

.context-actions {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px;
    gap: 4px;
}

.not-available {
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: #D62828;
}